<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/agenda.css">
    <title>Document</title>
</head>
<body>
   <header>
        <h1>Agenda</h1>
    </header>
    <div class="calendario">
        <div class="navegacao">
            <button class="botao-nav" id="anterior">&lt; Mês Anterior</button>
            <div id="mes-ano">Mês e Ano</div>
            <button class="botao-nav" id="proximo">Próximo Mês &gt;</button>
        </div>
        <div class="dias-semana">
            <div>Dom</div>
            <div>Seg</div>
            <div>Ter</div>
            <div>Qua</div>
            <div>Qui</div>
            <div>Sex</div>
            <div>Sab</div>
        </div>
        <div id="dias"></div>
    </div>
    <script src="/JS/agenda.js"></script>

</body>
</html>