<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/News.css">
</head>
<body>
    <header>
        <h1>Nossas Notícias</h1>
    </header>
    <main>
        <div id="noticias-container"></div> <!-- Container onde as notícias serão renderizadas -->
    </main>
    <script src="/JS/Noticias.js"></script> <!-- Carrega o script.js -->

</body>
</html>