<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Pagina_inicial.css">
    <title>Document</title>
</head>
<body>
   <main class="main-content animar" id="Pagina_Incial">
    <div class="main-container">
        <h1 class="main-title">Núcleo <span class="Cores_texto">Psicossocial</span></h1>
        <p class="main-description">
            Bem-vindo ao Núcleo Psicossocial (NUPS), um espaço dedicado ao suporte e bem-estar dos guardas municipais. Nossa missão é proporcionar apoio emocional e psicológico, promovendo a saúde mental e a resiliência de nossos profissionais.
        </p>
        <div class="button-container">
            <a href="#" class="button saber-mais">Saber Mais</a>
            <a href="#" class="button contate-nos">Contate-nos</a>
        </div>
    </div>
    <div class="main-image animar">
        <img src="/IMG/Psychologist-bro (1).png" alt="Imagem representativa do Núcleo Psicossocial">
    </div>
</main>

<section  id="quem-somos">
    <div class="imagem-quemsomos animar">
        <img src="/IMG/Business mission-bro (1).png" alt="Imagem que representa a missão">
    </div>
    <div class="texto-quemsomos animar">
        <h2 class="titulo-missao">Nossa <span class="Cores_texto">Missão</span></h2>
        <hr class="linha-missao">
        <p class="descricao-missao">
            Nossa missão é proporcionar um espaço acolhedor e seguro, dedicado ao suporte emocional e psicológico dos guardas municipais. Acreditamos que o bem-estar mental é fundamental para o desempenho eficaz e saudável de nossos profissionais.
            Estamos comprometidos em promover a saúde mental, a resiliência e o autocuidado, oferecendo serviços de apoio psicológico, orientação e recursos que ajudem a enfrentar os desafios diários da profissão. Nosso objetivo é fortalecer a equipe, criando um ambiente onde cada guarda se sinta valorizado e compreendido.
            Além disso, buscamos fomentar uma cultura de cuidado e empatia, reconhecendo a importância de cada indivíduo dentro da corporação. Estamos aqui para ouvir, apoiar e ajudar a construir um futuro mais saudável para todos.
        </p>
    </div>
</section>

<section id="valores">
    <h2 class="titulo-valores">Nossos <span class="Cores_texto">Valores</span> </h2>
    <div class="cards-container">
        <div class="card">
            <div class="face frente">
                <img src="/IMG/empatia.png" alt="Ícone de Empatia" class="icone">
                <h3 class="titulo-card">Empatia</h3>
            </div>
            <div class="face verso">
                <p class="descricao-card">
                    Compreender e valorizar as experiências e sentimentos dos guardas, oferecendo um espaço seguro para expressar suas preocupações.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="face frente">
                <img src="/IMG/abraco.png" alt="Ícone de Apoio Psicológico" class="icone">
                <h3 class="titulo-card">Apoio Psicológico</h3>
            </div>
            <div class="face verso">
                <p class="descricao-card">
                    Prover suporte emocional e psicológico, ajudando os profissionais a lidarem com os desafios do trabalho.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="face frente">
                <img src="/IMG/confidencialidade.png" alt="Ícone de Confidencialidade" class="icone">
                <h3 class="titulo-card">Confidencialidade</h3>
            </div>
            <div class="face verso">
                <p class="descricao-card">
                    Garantir que todas as informações compartilhadas sejam tratadas com sigilo, criando um ambiente de confiança.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contato">
    <h2 class="titulo-contato">Entre em  <span class="Cores_texto">Contato</span></h2>
    <div class="contato-container">
        <div class="informacoes">
              <h3>Detalhes de Contato</h3>
            <p><strong>Endereço:</strong> <br> Av. Orlando Gomes, 1845 - Piatã, Salvador - BA, 41650-010</p>
            <p><strong>Telefone:</strong> <br> (71) 9987-9854</p>
            <p><strong>Email:</strong> <br> info@foda-se@gmail.com</p>
            <p><strong>Horário:</strong> <br> Seg - Sex: 08:00 - 17:00 <br> Sáb - Dom: 11:00 - 16:00</p>
        </div>
        <div class="formulario">
            <h3>Agende uma Consulta</h3>
            <form class="formulario-contato">
                <label for="nome">Seu Nome:</label>
                <input type="text" id="nome" name="nome" required>
                
                <label for="email">Seu Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="mensagem">Sua Mensagem:</label>
                <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
                
                <button type="submit" class="botao-enviar">Enviar</button>
            </form>
        </div>
    </div>
</section>

<script src="/JS/Pagina_Inicial.js"></script>    
</body>
</html>

